---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-kubearchive-org-v1-kubearchiveinstallation
  failurePolicy: Fail
  name: mkubearchiveinstallation-v1.kb.io
  rules:
  - apiGroups:
    - kubearchive.org
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - kubearchiveinstallations
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-kubearchive-org-v1-kubearchiveinstallation
  failurePolicy: Fail
  name: vkubearchiveinstallation-v1.kb.io
  rules:
  - apiGroups:
    - kubearchive.org
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - kubearchiveinstallations
  sideEffects: None
